{% extends 'index.html' %}
{% load bootstrap %}
{% block title %} Reset password {% endblock %}
{% block page %}
    <div class="card login">
        <div class="card-body">
            <h5 class="card-title">Password reset</h5>
            <form method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button class="btn btn-primary" type="submit"><i class="fas fa-sign-in-alt"></i> send e-mail</button>
                <a class="btn btn-primary" href="{% url 'all_movies' %}" role="button"><i class="fas fa-undo-alt"></i> go back</a>
            </form>
        </div>
    </div>
{% endblock %}