{% extends 'index.html' %}
{% load bootstrap %}
{% block title %} Password reset {% endblock %}
{% block page %}
    <div class="card login">
        <div class="card-body">
            <h5>Password reset</h5>
            {% if validlink %}
                <p>Enter new password:</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button class="btn btn-primary" type="submit"><i class="fas fa-sign-in-alt"></i> Change</button>
                </form>
            {% else %}
                <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
            {% endif %}
            <a class="btn btn-primary" href="{% url 'all_movies' %}" role="button"><i class="fas fa-undo-alt"></i> go back</a>
        </div>
    </div>
{% endblock %}