{% extends 'index.html' %}
{% load bootstrap %}
{% block title %}
    {{ movie }}
{% endblock %}
{% block page %}
<section class="movie-detail">
    <div class="card">
      <img src="/media/{{ object.poster }}" alt="{{object.title}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ object }}</h5>
          <p class="card-text">{{ object.description }}</br><strong>Imdb rating: {{ object.imdb_ranking }}</strong></p>
      </div>
    </div>
    <div class="card">
       <div class="card-body">
        <h5 class="card-title">Reviews</h5><hr>
        <ul>
            {% for rating in rating_list %}
                <li><strong>{{ rating.review }}</br>Rating: {{ rating.rating }}</br></strong>{{ rating }}</li>
            {% endfor %}
        </ul>
        <hr>
        {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'new_review' object.id %}" role="button"><i class="fas fa-edit"></i> new review</a>
        {% else %}
              <p>Log-in to add review</p>
        {% endif %}
            <a class="btn btn-primary" href="{% url 'all_movies' %}" role="button"><i class="fas fa-undo-alt"></i> go back</a>
      </div>
    </div>
</section>
{% endblock %}