{% extends 'index.html' %}
{% load static %}
{% block title %} Movies database {% endblock %}
{% block page %}
<div class="jumbotron">
  <h1 class="display-4">Movies database</h1>
  <p class="lead">
      {% if movies|length == 0 %}
        There are no movies in database
      {% else %}
        movies in database: ({{ movies|length }})</p>
    <hr>
    <a class="btn btn-primary" href="{% url 'search' %}" role="button">movies search</a>
</div>
    <section class="movies">
        {% for movie in movies %}
            <div class="card">
                <a href="{% url 'movie_detail' movie.id %}"><img src="/media/{{ movie.poster }}" alt="{{movie.title}}" class="card-img-top"></a>
              <div class="card-body">
                <h5 class="card-title">{{ movie }}</h5>
                  <h6>Imdb ranking: {{ movie.imdb_ranking }}</h6>
                <p class="card-text">{{ movie.description }}</p>
                  <a class="btn btn-primary" href="{% url 'movie_detail' movie.id %}" role="button"><i class="fas fa-angle-double-right"></i> details</a>
                {% if user.is_staff %}
                  <a class="btn btn-primary" href="{% url 'movie_edit' movie.id %}" role="button"><i class="fas fa-edit"></i> edit</a>
                  <a class="btn btn-primary" href="{% url 'movie_delete' movie.id %}" role="button"><i class="fas fa-trash-alt"></i> delete</a>
                  {% endif %}
              </div>
            </div>
        {% endfor %}
        </section>
    {% endif %}
{% endblock %}