{% extends 'index.html' %}
{% load bootstrap %}
{% block title %}
    {% if new %}
        Add new movie
    {% else %}
        Edit movie {{ form.title.value }}
    {% endif %}
{% endblock %}
{% block page %}
<div class="card">
  <div class="card-body">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button class="btn btn-primary" type="submit">save</button>
        <a class="btn btn-primary" href="{% url 'all_movies' %}" role="button">go back</a>
    </form>
  </div>
</div>
{% endblock %}